| Signed in as @#{ cookies.signed[:username] }
br

div#messages
br

= simple_form_for :message, url: :messages, remote: true, id: 'messages-form' do |f|
  = f.input :body, label: 'Enter a message:'
  = f.submit 'Send message'
