.simple_form {
  label {
    float: left;
    width: 350px;
    margin: 2px 10px;
    &.collection_radio {
      margin-right: 10px;
      margin-left: 2px;
    }
  }
  div.input {
    margin-bottom: 10px;
    min-height: 21px;
    &.hidden {
      display: none;
    }
  }
  div.boolean, input[type='submit'] {
    margin-left: 370px;
  }
  div.boolean label, label.collection_radio {
    float: none;
    margin: 0;
  }
  .radio {
    label {
      width: 220px;
      margin: 2px 0;
    }
  }
  .error {
    clear: left;
    margin-left: 370px;
    font-size: 12px;
    color: #D00;
    display: block;
  }
  .input.boolean .error {
    margin-left: 0;
  }
  .hint {
    clear: left;
    margin-left: 10px;
    font-size: 14px;
    color: #999;
  }
}
